* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background: #F8EDF0;
    --color-shadow: #EDB5C7;
    --color-text: #150101;
    --color-button: #D64374;
    --color-button-text: #FAFAFA;
    --color-button-hover: #b83562;

    --font-primary: "Roboto", sans-serif;
    --font-heading: "Hind Madurai", sans-serif;
}
.details {
    background-color: var(--color-background);
    padding: 2rem 0;
}
.details__container {
    max-width: 68.5rem; 
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 4.625rem; /* 74px */
}
.details__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 27.625rem;
    gap: 1rem;
}
.details__media {
    width: 50%;
    max-width: 500px;
    position: relative;
}
.details__media::after {
    content: "";
    position: absolute;

    width: 17.6875rem;
    height: 1.6875rem;

    background-color: var(--color-shadow);
    opacity: 0.87;

    border-radius: 50%;
    filter: blur(1rem);

    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);

    z-index: 0;
} 
.details__image {
    position: relative;
    width: 100%;
    display: block;
    height: auto;
    z-index: 1;
    }
.details__title {
    font-family: var(--font-heading);
    max-width: 350px;
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.11;
    color: var(--color-text);
    margin: 0;
    }
.details__description {
    margin: 0;
    max-width: 27.625rem;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    opacity: 0.6;
}

.details__button {
    background-color: var(--color-button);
    font-family: var(--font-primary);
    line-height: 1;
    color: var(--color-button-text);
    border-radius: 0.3125rem;
    padding: 1rem 3rem;
    align-self: flex-start;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.details__button:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 768px) {
    .details {
        padding: 2rem 1rem;
    }

    .details__container {
        flex-direction: column;
        gap: 2rem;
    }

    .details__media {
        width: 100%;
        max-width: 20rem;
    }
}